body {
    background-color: black; /* Color de fondo */ 
    color: white; /* color de texto */
}
/* contenedor */
.nav-container {
    max-width: 1400px; /* ancho maximo*/
    margin: auto;
    
}

.navbar-brand img { /* Me costo, pero esto me mueve solo el logo hacia la izquierda */
    transform: translateX(-140px);
}

.logo img{
    width: 200px;
    height: auto;
    display: block;
}

.nav-link {
    color: white; /* color de la letra*/
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
}

.navbar-nav {
    gap: 150px;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    justify-content: space-between;
}

.guardiaPortada img {
    width: 500px;
    height: auto;
    border-radius: 15px; /* le agregue radio redondo a la imgagen */ 
    /* me falta ponerle un fondo, algo mas bonito */
}
.guardiaPortada {
    display: flex; /*activamos flexbox*/ 
    justify-content: space-between;
    align-items: center;
    padding: 60px;

}

